.displayContainer {
	width: 100%;
	height: 120px;
	background-color: black;
	text-align: right;
	border-bottom: 1.5px solid gray;
	box-sizing: border-box;
}

.displayResult {
	font-size: 8rem;
	color: white;
	padding: 15px 15px 0 15px;
	font-weight: 300;
	box-sizing: border-box;
}
