/* All styles for your Card Components live here */

.CardContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.SpaceContainer {
	width: 9%;
}
.RightCardContainer {
	width: 91%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.cardImageContainer {
	width: 100%;
}

.imgCardBanner {
	width: 98%;
}

.CardContentContainer {
	display: flex;
	flex-direction: column;
	padding: 0 1%;
}

.CardContentContainer h3 {
	font-size: 1.6rem;
	padding: 1% 0;
	margin: 0;
}

.CardContentContent {
	font-size: 1.4rem;
	padding: 0 0 1.5% 0;
	line-height: 1.3;
}

.CardContentLink {
	font-size: 1.4rem;
	padding: 0 0 1.5% 0;
	line-height: 1.3;
	color: gray;
}
